.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  background-color: #262323;
}

.dailyPhoto {
  display: flex;
  justify-content: center;
}

.name {
  background-color: #262323;
  color: #D2D2D2;
  padding: 15px;
  margin-left: 15px;
  font-family: "Newsreader";
  font-size: 22;
  font-weight: 20;
}

.date {
  color: #D2D2D2;
  padding: 25px;
  margin-left: 15px;
  font-family: "Newsreader";
  font-size: 80;
  font-weight: 40;
}


.info {
  color:#D2D2D2;
  padding: 15px;
  font-family: "Newsreader";
  font-size: 20;
}













/* forming grid to diplay a few images on homescreen */

.outer-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.inner-grid {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.inner-grid img {
  margin-top: 8px;
  width: 100%;
  padding: 10px;
}

@media screen and (max-width: 400px) {
  .inner-grid {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 400px) {
  .inner-grid {
    flex: 100%;
    max-width: 100%;
  }
}


/*rotating animation */


.box{animation: rotate 3s infinite; }

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}



/* Menu css animation*/

.btn {
  background-color: #626461;
  border-radius: 10px;
  padding: 12px 26px;
  border: none;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  margin-right: 10px;
}

.menu {
  position: relative;
  display: inline-block;
}

.menu-opt {
  display: none;
  position: absolute;
  background-color: #C5C9C3;
  min-width: none;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.menu-opt a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.menu-opt a:hover {
  background-color: #9B9E99;
}

.menu:hover .menu-opt {
  display: block;
}

.menu:hover .btn {
  background-color: #9B9E99;
}
