.carousel-container {
  justify-content: center;
  position: relative;
  align-items: center;
  display: flex;
  width: 700px;
  height: 500px;
}

.slide {
  border-radius: 0.5rem;
  box-shadow: 0px 0px 7px #666;
  width: 150%;
  height: 150%;
  border-radius: 35px;
}

.picture-description {
  margin-top: 1000px;
  font-size: 25;

}

.pic-hidden {
  display: none;
}


.slide-hidden {
  display: none;
}

.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  color: rgba(173, 173, 173, 0.8);
}

.arrow:hover {
  cursor: pointer;
  color: aliceblue;
}

.arrow-left {
  left: 1rem;
}

.arrow-right {
  right: 1rem;
}

.indicators {
  display: flex;
  position: absolute;
  bottom: -9rem;
}

.indicator {
  height: 0.5rem;
  width: 0.5rem;
  border: none;
  border-radius: 100%;
  outline: none;
  margin: 0 0.2rem;
  box-shadow: 0px 0px 5px #555;
  cursor: pointer;
}

@media screen and (max-width: 960px) {
  .carousel-container {
    width: 100px;

  }

}
