*{
  box-sizing: border-box;
  margin: 0;
}

:root {
  --heights: 50vh;
  --width: 80%;
}

.slider-container {
  height: var(--heights);
  width: var(--width);

  position: relative;
  margin: auto;
  overflow: hidden;
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.slides {
  height: var(--heights);
  width: var(--width);
  position: relative;
}

.slider-image {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.slide-title {
  width: 100%;
  height: 100%;
  columns: white;
  font-size: 50px;
  position: absolute;
  text-align: center;
  top: 40%;
  z-index: 10;
}

.prev, .next {
  cursor: pointer;
  z-index: 100;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3rem;
  font-size: 30px;
  font-weight: bold;
  border-radius: 0px 5px 5px 0px;
}

.prev:hover, .next:hover {
  color: white;
  background-color: rgba(0,0,0,0.6);
  transition: all 0.5s;
}

.next {
  right:0;
  border-radius: 5px 0px 0px 5px;
}

.all-dots {
  width: 100%;
  height:100%;
  position: absolute;
  display: flex;
  top: 70%;
  justify-content: center;
  z-index: 200;
}

.dot {
  cursor: pointer;
  height: 1rem;
  width: 1rem;
  margin: 0px 3px;
  background-color: rgba(0,0,0,0.3);
  border-radius: 50%;
  display: inline-block;
}

.active-dot,
.dot:hover {
  background-color: rgba(255,255,255,0.5);
}
