

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
body {
  background-color: #262323;
}

.dailyPhoto {
  display: flex;
  justify-content: center;
}

.title-animation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.name {
  background-color: #262323;
  color: #D2D2D2;
  padding: 10px;
  margin-left: 15px;
  font-family: "Newsreader";
  font-size: 50px;
  font-weight: 20;
}


.master-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline-start: 30%;
}


.img-descr {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #D2D2D2;
  font-size: xx-large;
  font-family: "Newsreader";

}

.date {
  color: #D2D2D2;
  padding: 15px;
  margin-left: 15px;
  font-family: "Newsreader";
  font-size: 80;
  font-weight: 40;
}


.info {
  color:#D2D2D2;
  background-color: #262323;
  padding: 10px;
  font-family: "Newsreader";
  font-size: 20;
  line-height: 30px;
  margin: 40px;

}

.other {
  color: #D2D2D2;
  font-size: x-large;
  padding: 15px;
  font-family: "Newsreader";
  margin: 40px;
  text-decoration:double;
}










/* forming grid to diplay a few images on homescreen */
.other-pics {
  display: flex;
  align-items:flex-start;
  justify-content:left;
}

.outer-grid {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.inner-grid {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.inner-grid img {
  margin-top: 8px;
  width: 100%;
  height: 70%;
  padding: 10px;
}

@media screen and (max-width: 400px) {
  .inner-grid {
    flex: 50%;
    max-width: 50%;
  }
}


@media screen and (max-width: 400px) {
  .inner-grid {
    flex: 100%;
    max-width: 100%;
  }
}


/*rotating animation */


.box{animation: rotate 3s infinite; }

@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}



/* Menu css animation*/

.btn {
  background-color: #262323;
  color: #D2D2D2;
  padding: 12px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  margin-right: 10px;
}

.menu {
  position: relative;
  display: inline-block;
}


.option-bar1:hover .btn {
  background-color: #413F3F;
}
.option-bar2:hover .btn {
  background-color: #413F3F;
}
.menu:hover .btn {
  background-color: #413F3F;
}

.sec-calendar-btn {
  background-color: #262323;
  justify-content: space-around;
  color: #D2D2D2;
  padding: 12px;
  border: none;
  border-radius: 15px;
  font-size: 18px;
  font-weight: 100;
  cursor: pointer;
  margin-right: 10px;
}

.sec-calendar-btn:hover .btn {
  background-color: #413F3F;
}
